<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH\:mm\:ss}] [%p] [%c{10}] %m%n" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="*">
        <appender-ref ref="console"/>
    </root>

</configuration>